#wrapper {
  height: 600px;
}

/* div {
  border:1px solid black;
  height: 200px;
} */

.initiallyHidden { 
  display: none; 
}

.button, #childSupportButton, #probationButton, #trafficFeesButton {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: light-grey;
    border-style: none;
    text-align: center;
}