#wrapper {
  height: 600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 80px;
  background-color: #dddddd;
}
/* div {
  border:1px solid black;
  height: 200px;
} */

.initiallyHidden { 
  display: none; 
}



.button, .btn, #childSupportButton, #probationButton, #trafficFeesButton {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: light-grey;
    border-style: none;
    text-align: center;
}