#wrapper {
    text-align: center;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin: 100px;
    display: block;

}

label {
    text-decoration: solid;
}

#page-title {
    padding: 50px;
}

#GetBlockContainer {
    display: block;
    margin: 100px;
    padding: 50px;
}

#get-blocks-table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

th {
    text-decoration: solid;
}

form {
    display: block;
    margin: 20px;
}

#GetTransactionContainer {
    display: block;
    margin: 10px;
}

.transaction-element {
    display: block;
    padding: 20px;
    width: 600px;
    font-size: 22px;
    text-align: center;
}

#logout-button {
    /* display: block; */
    position: relative;;

}

.button {
    display: block;
    margin: 10px;
    padding: 15px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: light-grey;
    border-style: none;
    text-align: center;
}
