<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
        <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
    </head>
    <body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '292985915332796',
                cookie     : true,
                xfbml      : true,
                version    : 'v9.0'
            });
                
            FB.AppEvents.logPageView();   
                
            FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
            });
        };
    
        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
        <h1 class="font-weight-bold">{{ .title }}</h1>
        <div id="dashboard-container">
            <div class="dashboard-element"><a href="/auth/wallet_get">Wallet</a></div>
            <div class="dashboard-element"><a href="/auth/new_payment_get">New Payment</a></div>
            <div class="dashboard-element"><a href="/auth/transaction_get">Transaction History</a></div>
            <div class="dashboard-element"><a href="/auth/new_contract_get">New Contract</a></div>
            <div class="dashboard-element"><a href="/auth/payment_schedule">Payment Schedule</a></div>
        </div>
        <div>
            <a href='/auth/logout'><button class="logout-button">Log Out</button></a>
        </div>
    </body> 
</html>