<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" src="/assets/js/transactionBundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/payment.css">
</head>
    <body>
        <div id=wrapper>
          <ul class="nav flex-column">
            <li><a class="nav-link" href="/auth/dashboard">Dashboard</a></li>
            <li><a class="nav-link" href="/auth/wallet_get">Wallet</a></li>
            <li><a class="nav-link" href="/auth/new_payment_get">New Payment</a></li>
            <li><a class="nav-link" href="/auth/transaction_get">Transaction History</a></li>
            <li><a class="nav-link" href="/auth/new_contract_get">New Contract</a></li>
            <li><a class="nav-link" href="/auth/logout">Log Out</a></li>
          </ul>
            <h1 class="font-weight-bold">{{ .title }}</h1>
            <form action="/new-payment" id="newPaymentForm" method="POST" autocomplete="on">
              <input type="hidden" name="_csrf" value="{{ ._csrf }}">
                <h3>Payment Initiator</h3>
                <div class="form-group">
                    <label for="TransactionTitle">Transaction Title</label>
                    <input type="text" class="form-control" id="TransactionTitle" name="transactionTitle" aria-describedby="transactionTitlelHelp" placeholder="Transaction Title">
                    <small id="transactionTitlelHelp" class="form-text text-muted">Use a simple description of what this transaction is for.</small>
                </div>
                <div class='form-group'>
                  <label for='ToAddress'>To Address</label>
                  <input type='text' class='form-control' id='ToAddress' name='toAddress' aria-describedby='toAddresslHelp' placeholder='0x'>
                  <small id='toAddressHelp' class='form-text text-muted'>The Ethereum address of who you want to recieve payment.</small>
                </div>
                <div class='form-group'>
                  <label for='PrivateKey'>Private Key</label>
                  <input type='text' class='form-control' id='PrivateKey' name='privateKey' aria-describedby='privateKeyHelp' placeholder='0x'>
                  <small id='privateKeyHelp' class='form-text text-muted'>The private key for the account above. Leave out the 0x!</small>
                </div>
                <div class="form-group">
                  <label for="value">Ethereum Value</label>
                  <input type="text" class="form-control" id="value" name="value" aria-describedby="valueHelp" placeholder="0 Eth">
                  <small id="valueHelp" class="form-text text-muted">The amount of Ether to send in this transaction (0.01 Eth is the minimum).</small>
                </div>
                <div class='form-group'>
                  <label for='FullName'>Full Name</label>
                  <input type='text' class='form-control' id='FullName' name='fullName' aria-describedby='fullNamelHelp' placeholder='Jamal Henderson'>
                  <small id='fullNamelHelp' class='form-text text-muted'>The full name of the person doing business.</small>
                </div>
                <div class='form-group'>
                  <label for='pocFullName'>Business Entity Point of Contact Name</label>
                  <input type='text' class='form-control' id='pocFullName' name='pocFullName' aria-describedby='pocFullNameHelp' placeholder='John Doe'>
                  <small id='pocFullNameHelp' class='form-text text-muted'>The full name of the point of contact for the business' agreement.</small>
                </div>
                <div class="form-group">
                  <label for="pocPhoneNumber">Business Entity Point of Contact Phone Number</label>
                  <input type="text" class="form-control" id="pocPhoneNumber" name="pocPhoneNumber" aria-describedby="pocPhoneNumberHelp" placeholder="5555555">
                  <small id="pocPhoneNumberHelp" class="form-text text-muted">The phone number of the point of contact for the business. We'll never share your phone number with anyone else.</small>
                </div>
                <div class='form-group'>
                  <label for='Email'>Business Entity Point of Contact Email address</label>
                  <input type='pocBusinessEmail' class='form-control' id='pocBusinessEmail' name='pocBusinessEmail' aria-describedby='pocBusinessEmailHelp' placeholder='Enter business email'>
                  <small id='pocBusinessEmailHelp' class='form-text text-muted'>The email address of the point of contact for the business. We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="fname">Business Entity Legal Name</label>
                  <input type="text" class="form-control" id="businessName" name="businessName" aria-describedby="fbusinessNamelHelp" placeholder="Accord365+">
                  <small id="businessNamelHelp" class="form-text text-muted">The business entity's legal name.</small>
                </div>
                <div class="form-group">
                  <label for="hqPhoneNumber">Headquarters Phone Number</label>
                  <input type="text" class="form-control" id="hqPhoneNumber" name="hqPhoneNumber" aria-describedby="hqPhoneNumberHelp" placeholder="5555555">
                  <small id="hqPhoneNumberHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="beWebsite">Business Headquarters Website</label>
                  <input type="text" class="form-control" id="beWebsite" name="beWebsite" aria-describedby="beWebsiteHelp" placeholder="www.example.com">
                  <small id="beWebsiteHelp" class="form-text text-muted">The web address of the business.</small>
                </div>
                <div class='form-group'>
                  <label for='Email'>Business Headquarters Email address</label>
                  <input type='businessEmail' class='form-control' id='businessEmail' name='businessEmail' aria-describedby='businessEmailHelp' placeholder='Enter business email'>
                  <small id='businessEmailHelp' class='form-text text-muted'>The email address of the business. We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="BusinessFEINNumber">Business FEIN Number</label>
                  <input type="text" class="form-control" id="feinNumber" name="feinNumber" aria-describedby="feinlHelp" placeholder="FEIN Number">
                  <small id="feinlHelp" class="form-text text-muted">a Federal Tax Identification Number or an Employer Identification Number (EIN), is issued to entities that do business in the United States.</small>
                </div>
                <div class="form-group">
                  <label for="BusinessSEINNumber">Business SEIN Number</label>
                  <input type="text" class="form-control" id="seinNumber" name="seinNumber" aria-describedby="seinlHelp" placeholder="SEIN Number">
                  <small id="seinlHelp" class="form-text text-muted">A company generally uses a state tax ID solely for state tax reporting. Some states may also call their identifier a state employer identification number, or SEIN number.</small>
                </div>
                <div class="form-group">
                  <label for="taxIDNumber">Tax ID Number</label>
                  <input type="text" class="form-control" id="taxIDNumber" name="taxIDNumber" aria-describedby="taxIDlHelp" placeholder="Tax ID Number">
                  <small id="taxIDlHelp" class="form-text text-muted">An Employer Identification Number (EIN) is also known as a federal tax identification number, and is used to identify a business entity. </small>
                </div>
                <div class="form-group">
                  <label for="beAdr">Business Headquarters Address</label>
                  <input type="text" class="form-control" id="beAdr" name="beAdr" aria-describedby="beAdrHelp" placeholder="542 W. 15th Street #304">
                  <small id="beAdrHelp" class="form-text text-muted">The address of the business headquarters (no "#" characters).</small>
                </div>
                  <div class="form-group">
                    <label for="beCity">Business Headquarters City</label>
                    <input type="input" class="form-control"  id="beCity" name="beCity" aria-describedby="beCityHelp" placeholder="New York">
                    <small id="beCityHelp" class="form-text text-muted">The city that the business is located.</small>
                  </div>
                  <div class="form-group">
                    <label for="beState">Business Headquarters State</label>
                    <input class="form-control" id="beState" name="beState" aria-describedby="beStateHelp" placeholder="NY">
                    <small id="beStateHelp" class="form-text text-muted">The state that the business is located.</small>
                  </div>
                  <div class="form-group">
                    <label for="beZip">Business Headquarters Zip</label>
                    <input type="number" class="form-control"  id="beZip" name="beZip" aria-describedby="beZipHelp" placeholder="10001">
                    <small id="beZipHelp" class="form-text text-muted">The zipcode that the business is located.</small>
                  </div>
                <div class="form-group">
                  <label for="beCountryCode">Business Headquarters Country Code</label>          
                  <input type="number" class="form-control"  id="beCountryCode" name="beCountryCode" aria-describedby="beCountryCodeHelp" placeholder="01">
                  <small id="beCountryCodeHelp" class="form-text text-muted">The country code of the business.</small> 
                </div>
                <div class="form-group">
                  <label for="doingAdr">Doing Business As, Address</label>
                  <input type="text" class="form-control" id="doingAdr" name="doingAdr" aria-describedby="doingAdrHelp" placeholder="542 W. 15th Street #303">
                  <small id="doingAdrHelp" class="form-text text-muted">The address of the  person doing business on behalf of the business entity.</small>
                </div>
                  <div class="form-group">
                      <label for="dbaCity">Doing Business As, City</label>
                      <input type="input" class="form-control"  id="dbaCity" name="dbaCity" aria-describedby="dbaCityHelp" placeholder="New York">
                      <small id="dbaCityHelp" class="form-text text-muted">The city of the  person doing business on behalf of the business entity.</small>
                  </div>
                <div class="form-group">
                  <label for="dbaState">Doing Business As, State</label>
                  <input class="form-control" id="dbaState" name="dbaState" aria-describedby="dbaStateHelp" placeholder="NY">
                  <small id="dbaStateHelp" class="form-text text-muted">The state of the  person doing business on behalf of the business entity.</small>
                </div>
                  <div class="form-group">
                    <label for="dbaZip">Doing Business As, Zip</label>
                    <input type="text" class="form-control"  id="dbaZip" name="dbaZip" aria-describedby="dbaZipHelp" placeholder="10001">
                    <small id="dbaZipHelp" class="form-text text-muted">The zipcode of the person doing business.</small>
                </div>
                      <input type="submit" class="btn btn-primary" value="submit"/>
                  </form>
                  <div id="hash-container">
                    <form action="/new-payment" id="txHashForm" method="POST">
                       <input type="hidden" id="txValueHidden" name="txValueHidden" value="">
                    </form>
                    <h1 class="font-weight-bold">Transaction Hashes</h1>
                    <span id="transaction-hashes">{{.splitDisplayTransactionHashesString}}</span>
                  </div>
                  <div>
                    <a href='/auth/logout'><button class="button">Log Out</button></a>
                  </div>
        </div>
    </body>
</html>