<!-- TODO: Update form elements for safe blockchain display -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script type="text/javascript" src="/assets/js/transactionBundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/payment.css">
</head>
    <body>
        <div id=wrapper>
          <ul class="nav flex-column">
            <li><a class="nav-link" href="/auth/dashboard">Dashboard</a></li>
            <li><a class="nav-link" href="/auth/wallet_get">Wallet</a></li>
            <li><a class="nav-link" href="/auth/new_payment_get">New Payment</a></li>
            <li><a class="nav-link" href="/auth/transaction_get">Transaction History</a></li>
            <li><a class="nav-link" href="/auth/new_contract_get">New Contract</a></li>
            <li><a class="nav-link" href="/auth/logout">Log Out</a></li>
          </ul>
            <h1 class="font-weight-bold">{{ .title }}</h1>
            <form action="/new-payment" id="newPaymentForm" method="POST" autocomplete="on">
              <input type="hidden" name="_csrf" value="{{ ._csrf }}">
                <h3>Payment Initiator</h3>
                <div class="form-group">
                    <label for="TransactionTitle">Transaction Title</label>
                    <input type="text" class="form-control" id="TransactionTitle" name="transactionTitle" aria-describedby="transactionTitlelHelp" placeholder="Transaction Title">
                    <small id="transactionTitlelHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="ToAddress">To Address</label>
                  <input type="text" class="form-control" id="ToAddress" name="toAddress" aria-describedby="toAddresslHelp" placeholder="0x">
                  <small id="toAddressHelp" class="form-text text-muted">The address of who you want to recieve payment.</small>
              </div>
              <div class="form-group">
                <label for="PrivateKey">Private Key</label>
                <input type="text" class="form-control" id="PrivateKey" name="privateKey" aria-describedby="privateKeyHelp" placeholder="0x">
                <small id="privateKeyHelp" class="form-text text-muted">The address of who you want to recieve payment. Leave out the 0x!</small>
              </div>
                <div class="form-group">
                    <label for="FullName">Full Name</label>
                    <input type="text" class="form-control" id="FullName" name="fullName" aria-describedby="fullNamelHelp" placeholder="John Doe">
                    <small id="fullNamelHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" id="Email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="value">Ethereum Value</label>
                    <input type="text" class="form-control" id="value" name="value" aria-describedby="valueHelp" placeholder="0 Eth">
                    <small id="valueHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                  <div class="form-group">
                    <label for="BusinessFEINNumber">Business FEIN Number</label>
                    <input type="text" class="form-control" id="FeinNumber" name="feinNumber" aria-describedby="feinlHelp" placeholder="FEIN Number">
                    <small id="feinlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="BusinessSEINNumber">Business SEIN Number</label>
                    <input type="text" class="form-control" id="SeinNumber" name="seinNumber" aria-describedby="seinlHelp" placeholder="SEIN Number">
                    <small id="seinlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="taxIDNumber">Tax ID Number</label>
                    <input type="text" class="form-control" id="TaxIDNumber" name="taxIDNumber" aria-describedby="taxIDlHelp" placeholder="Tax ID Number">
                    <small id="taxIDlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="courtCaseNumber">Court Case Number</label>
                    <input type="text" class="form-control" id="CourtCaseNumber" name="courtCaseNumber" aria-describedby="courtlHelp" placeholder="Court Case Number">
                    <small id="courtlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="probationNumber">Probation Number</label>
                    <input type="text" class="form-control" id="ProbationNumber" name="probationNumber" aria-describedby="probationlHelp" placeholder="Probation Number">
                    <small id="probationlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="participantIDNumber">Participant ID Number</label>
                    <input type="text" class="form-control" id="ParticipantIDNumber" name="participantIDNumber" aria-describedby="participantlHelp" placeholder="Participant ID Number">
                    <small id="participantlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input type="text" class="form-control" id="Website" name="website" aria-describedby="websitelHelp" placeholder="www.example.com">
                    <small id="websitelHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="phoneNumber"> Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneHelp" placeholder="5555555">
                    <small id="phoneHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="adr">Address</label>
                    <input type="text" class="form-control" id="Adr" name="address" aria-describedby="adrHelp" placeholder="542 W. 15th Street">
                    <small id="adrHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="input" class="form-control"  id="City" name="city" aria-describedby="cityHelp" placeholder="New York">
                        <small id="cityHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                      <label for="state">State</label>
                        <select class="form-control" id="StateControlSelect" name="stateSelect">
                            <option value="AK">AK</option>
                            <option value="AL">AL</option>
                            <option value="AR">AR</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="IA">IA</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="MA">MA</option>
                            <option value="MD">MD</option>
                            <option value="ME">ME</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MO">MO</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="NE">NE</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NV">NV</option>
                            <option value="NY">NY</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VA">VA</option>
                            <option value="VT">VT</option>
                            <option value="WA">WA</option>
                            <option value="WI">WI</option>
                            <option value="WV">WV</option>
                            <option value="WY">WY</option>
                      </select>
                  </div>
                      <input type="submit" class="btn btn-primary" value="submit"/>
                  </form>
                  <div id="hash-container">
                    <form action="/new-payment" id="txHashForm" method="POST">
                       <input type="hidden" id="txValueHidden" name="txValueHidden" value="">
                    </form>
                    <h1 class="font-weight-bold">Transaction Hashes</h1>
                    <span id="transaction-hashes">{{.splitDisplayTransactionHashesString}}</span>
                  </div>
                  <div>
                    <a href='/auth/logout'><button class="button">Log Out</button></a>
                  </div>
        </div>
    </body>
</html>